<div id="cart-drawer-overlay" class="hidden transition-opacity ease-in-out duration-300 fixed top-0 left-0 right-0 bottom-0 bg-black z-40"></div>
<div id="cart-drawer" class="hidden transition-transform ease-in-out duration-300 fixed top-0 right-0 z-50 bg-white h-full w-full xl:w-[40vw] shadow-lg">
    <div class="flex flex-col h-full">
        <div id="cart-drawer-header" class="shrink bg-white">
            <div class="container flex justify-between items-center py-4 mx-auto">
                <span class="text-2xl text-black font-semibold uppercase">Secure Cart</span>
                <div role="button" id="cart-close-btn">{% render 'icon-close', class: 'h-4 w-auto fill-black text-black' %}</div>
            </div>
        </div>
        <div data-cart-drawer-state="default" id="cart-drawer-content" class="h-full shrink overflow-auto flex flex-col"></div>
        <div data-cart-drawer-state="loading" class="hidden h-full flex items-center justify-center">
            <span>{% render 'icon-loading', class: 'animate-spin mx-auto h-12 w-12 text-black' %}</span>
        </div>
    </div>
</div>