<header id="main-header">
    <nav class="border-b border-gray-400 pt-4 pb-4 px-4 sm:px-8 grid grid-cols-3 items-center">
        <div class="text-sm font-medium">
            <a href="{{ shop.url }}" title="SHOP">SHOP</a>
        </div>
        <div class="text-center">
            <a href="{{ shop.url }}" class="text-2xl font-bold">KBDSHOP</a>
        </div>
        <div class="text-sm font-medium text-right">
            <a href="{{ shop.url }}" title="CART">CART</a>
        </div>
    </nav>
</header>