<div data-no-overlay class="container mx-auto pt-12 pb-16">
    <div class="w-full lg:w-3/5 mx-auto text-lg">
        <h1 class="text-4xl font-bold">Hassle-Free Return and Exchange Policy</h1>
        <div class="mt-8 text-lg">
            <p>At Plushies.ca, customer satisfaction is our top priority. If you are not completely satisfied with your purchase, we are happy to offer a hassle-free return or exchange.</p>
            <p class="mt-4 text-2xl font-semibold">Return Policy:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>You have 30 days from the date of delivery to return your purchase for a refund.</li>
                <li>The item must be in new and unused condition, with all original tags and packaging.</li>
                <li>Shipping costs associated with the return are free.</li>
                <li>Refunds will be processed within 7-10 business days of receiving the returned item.</li>
            </ul>
            <p class="mt-4 text-2xl font-semibold">Exchange Policy:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>You have 30 days from the date of delivery to exchange your purchase for a different item.</li>
                <li>The item must be in new and unused condition, with all original tags and packaging.</li>
                <li>Shipping costs associated with the exchange are free.</li>
                <li>Exchanges will be processed within 7-10 business days of receiving the returned item.</li>
            </ul>
            <p class="mt-8">To initiate a return or exchange, please contact our customer service team at hello@plushies.ca. They will provide you with instructions on how to proceed.</p>
            <p class="mt-4">Thank you for choosing plushies.ca!</p>
        </div>
    </div>
</div>