<div data-no-overlay class="container mx-auto pt-12 pb-16">
    <div class="w-full lg:w-3/5 mx-auto text-lg">
        <h1 class="text-4xl font-bold">FREE Worldwide Shipping Policy</h1>
        <div class="mt-8 text-lg">
            <p>At Plushies.ca, we are committed to providing our customers with the best shopping experience, including fast and free shipping.</p>
            <ol class="ml-8 mt-4 list-decimal">
                <li class="mt-2">
                    <p>Free Shipping: We offer free worldwide shipping on all orders.</p>
                </li>
                <li class="mt-2">
                    <p>Shipping Time: We take pride in sourcing the best quality products from around the world. While we strive to get your order to you as quickly as possible, please allow for 4 to 8 weeks for delivery. This allows us to offer the highest quality products at the most competitive prices.</p>
                </li>
                <li class="mt-2">
                    <p>Tracking Information: Once your order has been shipped, you will receive a tracking number via email if it is available. You can use this number to track your package and stay informed about the delivery status.</p>
                </li>
                <li class="mt-2">
                    <p>Custom and Import Duties: Please note that import duties, taxes, and charges are not included in the item price or shipping cost. These charges are the buyer's responsibility.</p>
                </li>
                <li class="mt-2">
                    <p>Customer Service: If you have any questions or concerns about your order, please contact our customer service team at <a href="mailto:hello@plushies.ca" class="underline">hello@plushies.ca</a>. We will be happy to assist you.</p>
                </li>
            </ol>
            <p class="mt-8">We hope you enjoy your shopping experience with plushies.ca and we look forward to serving you again soon!</p>
        </div>
    </div>
</div>