<div data-no-overlay class="container mx-auto pt-12 pb-16">
    <div class="w-full lg:w-3/5 mx-auto text-lg">
        <h1 class="text-4xl font-bold">Privacy Policy</h1>
        <div class="mt-8 text-lg">
            <p>At plushies.ca, we take your privacy seriously. This Privacy Policy outlines the types of personal information we collect, how it is used and protected, and with whom it may be shared.</p>
            <p class="mt-4 text-2xl font-semibold">Information Collection and Use:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>We collect personal information such as your name, address, email address, and payment information when you place an order on our website.</li>
                <li>We use this information to process your order, provide customer service, and send you updates about your order and our company.</li>
                <li>We also collect information about your browsing and shopping behavior on our website for the purpose of analyzing site usage and improving our services. This includes the use of <a href="https://support.google.com/analytics/answer/12159447?hl=en#:~:text=Google%20Analytics%20is%20a%20platform,provide%20insights%20into%20your%20business." class="underline">Google Analytics</a> and <a href="https://support.google.com/analytics/answer/9445345?hl=en#datasharing&zippy=%2Cin-this-article%2Ccross-platform-reporting" class="underline">Google Signals</a> and <a href="https://help.shopify.com/en/manual/reports-and-analytics/shopify-reports#:~:text=Shopify's%20analytics%20and%20reports%20give,you%20can%20access%20Live%20View." class="underline">Shopify Analytics</a>.</li>
                <li>We will never share your information with any third parties for marketing purposes.</li>
            </ul>
            <p class="mt-4 text-2xl font-semibold">Cookies and Tracking Technologies:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>We use cookies and other tracking technologies to improve your browsing experience and personalize our website for you.</li>
                <li>You can choose to disable cookies in your browser settings, but this may affect your ability to use certain features of our website.</li>
            </ul>
            <p class="mt-4 text-2xl font-semibold">Security:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>We take appropriate security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information.</li>
                <li>However, no method of transmission over the Internet, or method of electronic storage, is 100% secure.</li>
            </ul>
            <p class="mt-4 text-2xl font-semibold">Changes to this Policy:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>We may update this Privacy Policy from time to time.</li>
                <li>We will notify you of any changes by posting the new Privacy Policy on this page.</li>
                <li>You are advised to review this Privacy Policy periodically for any changes.</li>
            </ul>
            <p class="mt-4 text-2xl font-semibold">Contact Us:</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:hello@plushies.ca" class="underline">hello@plushies.ca</a>.</li>
            </ul>
        </div>
    </div>
</div>