<div data-no-overlay class="container mx-auto pt-12 pb-16">
    <div class="w-full lg:w-3/5 mx-auto text-lg">
        <h1 class="text-4xl font-bold">Terms of Service</h1>
        <div class="mt-8 text-lg">
            <p>By using the plushies.ca website and placing an order, you agree to be bound by the following terms and conditions:</p>
            <ol class="ml-8 mt-4 list-decimal">
                <li class="mt-2">
                    <p>Product Information: We make every effort to ensure that our products are described as accurately as possible on our website. However, we do not warrant that the descriptions are error-free.</p>
                </li>
                <li class="mt-2">
                    <p>Order Processing: We will process your order within the timeframe specified on the website. We reserve the right to cancel or refuse any order that appears suspect or fraudulent.</p>
                </li>
                <li class="mt-2">
                    <p>Payment: We accept the payment methods specified on the website. We will not charge you until we have shipped your order.</p>
                </li>
                <li class="mt-2">
                    <p>Shipping and Delivery: We will ship your order to the address specified in your order. Shipping costs will be calculated and displayed at checkout. We are not responsible for any delays in shipping or delivery caused by the carrier.</p>
                </li>
                <li class="mt-2">
                    <p>Returns and Exchanges: We have a hassle-free returns and exchanges policy, as outlined in our Return and Exchange Policy.</p>
                </li>
                <li class="mt-2">
                    <p>Warranty: All of our products come with a 30-day warranty from the date of delivery. If you receive a damaged or defective product, please contact us for a replacement.</p>
                </li>
                <li class="mt-2">
                    <p>Intellectual Property: The content of the Plushies.ca website is protected by copyright and trademark laws. You may not use any content from the website without our express written permission.</p>
                </li>
                <li class="mt-2">
                    <p>Limitation of Liability: We will not be liable for any damages resulting from the use of our website or products.</p>
                </li>
                <li class="mt-2">
                    <p>Governing Law: These terms and conditions will be governed by the laws of Canada.</p>
                </li>
                <li class="mt-2">
                    <p>Changes to the Terms of Service: We reserve the right to make changes to these terms and conditions at any time.</p>
                </li>
            </ol>
        </div>
    </div>
</div>