{%- assign collection_handle = 'homepage' -%}
{% paginate collections[collection_handle].products by 20 %}
    <div data-paginate-max="{{ paginate.pages }}" class="hidden"></div>
{% endpaginate %}
<div id="main-content" class="px-4 sm:px-8 pt-6 pb-6 mx-auto">
    <div data-paginated-products class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-12"></div>
    <div class="mt-12">
        <button data-paginate-more class="block mx-auto w-fit py-3 px-8 bg-black border border-black text-white text-center text-sm uppercase font-medium rounded-sm disabled:opacity-75 select-none hover:bg-white hover:text-black">
            <span data-paginate-state="loading" class="hidden">{% render 'icon-loading', class: 'animate-spin mx-auto h-6 w-6 text-white' %}</span>
            <span data-paginate-state="default">See more</span>
        </button>
    </div>
</div>